/* Font Face */
@font-face {
  font-family: 'Thug';
  src: url('font/thug____-webfont.eot');
  src: url('font/thug____-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/thug____-webfont.woff2') format('woff2'),
       url('font/thug____-webfont.woff') format('woff'),
       url('font/thug____-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Animations */
@-webkit-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* General */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background: url(../img/background/1.jpg) bottom center;
  background-size: cover;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

h1 {
  margin: 0;
}

/* Helpers */
.thug {
  font-family: "Thug";
}

.rotating {
  -webkit-animation: rotating 3s linear infinite;
  -moz-animation: rotating 3s linear infinite;
  -ms-animation: rotating 3s linear infinite;
  -o-animation: rotating 3s linear infinite;
  animation: rotating 3s linear infinite;
}

.center {
  text-align: center;
}

/* Main Styles */
.container {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
}

.logo {
  font-size: 10rem;
  font-weight: normal;
  color: #f2b306;
  text-shadow: 5px 5px 5px #000;
}
